[submodule "Projeto-Spotify"]
	path = Projeto-Spotify
	url = https://github.com/DadoNitz/Projeto-spotify

[submodule "GrupoSect-Project"]
	path = GrupoSect-Project
	url = https://github.com/DadoNitz/GrupoSect-Project

[submodule "Arthur-Frota-Psicologo"]
	path = Arthur-Frota-Psicologo
	url = https://github.com/DadoNitz/Arthur-Frota-Psicologo

[submodule "Jogo-do-Mario"]
	path = Jogo-do-Mario
	url = https://github.com/DadoNitz/Jogo-do-Mario
